body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradie rgb214, 55, 15;  */

}
#main_container{
    width: 100vw;
    height: 100vh;
    /* padding: 10px;  */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.to_do{
    width: 40%;
    height: 100%;
    background-color: rgb(149, 220, 223);
    box-shadow: 0 0 5px rgb(161, 23, 23);
    margin: 10px auto 10px;
    border-radius: 0 0 50px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;

}
.title img{
    width: 30px;
    height: 30px;
    padding: 10px;
    
}
.title h4{
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
input{
    width: 60%;
    background-color: aliceblue;
    padding: 5px;
    flex: 1;
    border: none;
    outline: none;
    font-weight: 600;
}
.button1{
    width: 15%;
    height: 25px;
    border: none;
    border-radius: 5px;
    /* background-color: rgb(26, 142, 219); */
    cursor: pointer;
    font-size: 10px;
}
button:hover{
    background-color: rgb(30, 32, 126);
}
#task-container{
    width: 100%;
  
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}
ul li span{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    font-size: 15px;
    /* text-align: center; */
    color: #131212;
    border-radius: 50%;
}
ul li span:hover{
    background: #1e1e8a;
}
.buttonContainer{
    display: flex;
    gap: 5px;
    align-items: center;
}
button{
    padding: 5px 10px;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    height: 23px;
    background-color: rgb(26, 158, 219);

}

.delete{
    background-color: rgb(26, 158, 219);
    position: relative;
    cursor: pointer;
}
.checked{
    text-decoration: line-through;
    color: #745656;
}
